/* You can add global styles to this file, and also import other style files */

.container {
    width: 800px;
    overflow-x:auto;
    overflow-y:auto;
    // tbody {
    //     width: 500px;
    //     height: 500px;
    //     overflow-x:scroll;
    // }
}
