    <!-- <table class="table table-striped">
         <thead>
            <tr>
                <th *ngFor="let map of columnMaps">{{ map.header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of data">
                <td *ngFor="let map of columnMaps">
                    <span>
                        {{ record[map.access(record)]}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table> -->

    <!-- <div class="row">  
            <div class="col-lg-8 col-md-10 ml-auto mr-auto">  
                <span><strong>Current Active Page = </strong> {{activePage}}</span>  
            </div>  
    </div>  
    <div class="row">  
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">  
             <div class="float-right"> <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="displayActivePage($event)"></app-pagination> </div>     
        </div>  
    </div>   -->

    <div class="container">
            <div class="text-center">
                <h2>{{tableHeader}}</h2>
                <h6>{{errorMessage}}</h6>
            </div>
                <!-- items being paged -->
                <!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->
                <table class="table table-striped">
                        <thead>
                           <tr>
                               <th>Action</th>
                               <th *ngFor="let map of columnMaps">{{ map.header }}</th>
                               <th>-</th>
                           </tr>
                       </thead> 
                       <tbody style="height:400px;overflow-x:auto;">
                           <tr *ngFor="let record of pagedItems;   let i =index">
                               <td> 
                                    <input type="checkbox" (change)="checkRow($event, record)" /> 
                               </td>
                               <td *ngFor="let map of columnMaps">
                                   <span>   
                                       {{ record[map.access(record)]}}
                                   </span>
                               </td>
                               <td>
                                   <button name="btn" (click)="postData($event, record)">Modify</button>
                               </td>
                           </tr>
                       </tbody>
                   </table>
    
                   <div class="text-center">
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}"  class="page-item">
                        <a class="page-link" (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}"  class="page-item">
                        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"  class="page-item">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"  class="page-item">
                        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"  class="page-item">
                        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
 