// table {
//     height: 300px;
//     width: 950px;
// }

// tr.selected {
//     background-color: blue;
//   }

//   tbody
//   {
//       overflow:scroll;
//   }
   
//   .scrolling-wrapper {
//     overflow-x: scroll;
//     overflow-y: hidden;
//     white-space: nowrap;
  
//     .card {
//       display: inline-block;
//     }
//   }

//   .scrollable {
//     height: 100px;
//     overflow-y: scroll;
//   }

#deep table  {
width: 200px;
height: 300px;
}
h6 {
    color: #f14747;
}